:root {
    --alpha: 0.75;
}

body {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-image:
        linear-gradient(rgba(0, 0, 0, var(--alpha)),
            rgba(0, 0, 0, var(--alpha))),
        url('/photos/empty-theatre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: -10px;
    color: rgb(255, 183, 82);
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: rgb(159, 92, 10);
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text {
    text-align: center;
    padding: 1.5rem;
    align-items: center;
    border: 10px solid darkred;
    border-radius: 10px;
    background-color: rgba(23, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
}

#add-log, #view-log {
    display: inline-block;
    margin: 0.75rem;
    padding: 1rem;
    font-size: 1.15rem;
    line-height: 2.25rem;
    color: white;
    background-color: rgb(200, 100, 50);
    border: 2px solid rgb(138, 62, 0);
    border-radius: 8px;
    text-decoration: none;
    width: 180px;
    height: 40px;
}

#add-log:hover, #view-log:hover {
    background-color: rgb(255, 183, 82);
    color: black;
    transition: ease-in-out 0.5s;
}