<!DOCTYPE html>
<html>
<head>
    <title>CineLog: Watchlists and Reviews </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon"  href="/photos/reel.ico" type="image/x-icon" sizes="96x96">
</head>
<body>
    <div class="container">
        <div class="text">
            <h1 class="limelight-regular">CineLog</h1>
            <h2 class="montserrat">Movie Watchlists and Reviews</h2>
            <a id="add-log" class="montserrat" href="/movies/add">Add a Movie</a>
            <a id="view-log" class="montserrat" href="/movies">View Watchlist</a><br>
        </div>
    </div>
</body>
</html>